@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-blues: #1447e6;
	--color-grays: #334155;
	--color-blues-opas: #034c88;
}
.container {
	width: 80%;
	max-width: 1440px;
	margin: 0 auto;
}

.Dosams {
	font-family: 'DM Sans', sans-serif;
}
.Roboto {
	font-family: 'Roboto', sans-serif;
}
